{% extends "base.html" %}
{% block content %}

    <h3>Log In</h3>

    <div class="card col-sm-10 col-md-8 offset-md-3 center nav-bg">
        <div class="card-body">
            <form method="POST" action="{{ url_for('login') }}">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label fas fa-user-cog"> Username / Company Name</label>
                    <input type="text" name="username" class="form-control" id="exampleInputEmail1"
                        minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label fas fa-user-lock "> Password</label>
                    <input type="password" name="password" class="form-control" minlength="5" 
                        maxlength="15" id="password" pattern="^[a-zA-Z0-9]{5,15}$" required>
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>
                Don't Have a account?
                <a href="{{ url_for('register')}}">Create Account Here</a>
            </p>
        </div>
    </div>


{% endblock %}