{% extends "base.html" %}
{% block content %}


    <div class="card col-sm-8 offset-2 nav-bg">
        <div class="card-body">
            <form method="POST" action="{{ url_for('registeration') }}">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label fas fa-user-plus"> Username / Company Name</label>
                    <input type="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label fas fa-user-lock "> Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>


{% endblock %}