{% extends "base.html" %}
{% block content %}


    {% for show in shows %}
        <div class="card col-md-4 offset-2" style="width: 18rem;">
            <div class="card-body nav-bg">
                <h5 class="card-title">{{ show.show_name }}</h5>
                <h5 class="card-title">{{ show.show_date }}</h5>
                <h5 class="card-title">{{ show.show_type }}</h5>
                <h5 class="card-title">{{ show.show_location }}</h5>
                <h5 class="card-title">{{ show.show_start }}</h5>
                <p class="card-text">{{ show.show_description }}</p>
            </div>
        </div>
    {% endfor %}

{% endblock %}